{% extends "base.html" %}
{% load static %}
{% block h1 %}<h1>Length</h1>{% endblock %}
{% block content %}

<form method="POST" action="{% url 'convert_length' %}">
      {% csrf_token %}
      
      <div class="form-group">

<label for="length">Enter length to convert:</label>
<input type="number" id="length" name="length" required>
</div>

<div class="form-group">
        <label for="unit_from">Unit to convert from:</label>
        <select id="unit_from" name="unit_from" required>
        <option value="meter">Meter</option>
        <option value="kilometer">Kilometer</option>
        <option value="centimeter">Centimeter</option>
        <option value="millimeter">Millimeter</option>
        <option value="inch">Inch</option>
        <option value="foot">Foot</option>
        <option value="yard">Yard</option>
        <option value="mile">Mile</option>
        </select>
</div>

<div class="form-group">
        <label for="unit_to">Unit to convert to:</label>
        <select id="unit_to" name="unit_to" required>
        <option value="meter">Meter</option>
        <option value="kilometer">Kilometer</option>
        <option value="centimeter">Centimeter</option>
        <option value="millimeter">Millimeter</option>
        <option value="inch">Inch</option>
        <option value="foot">Foot</option>
        <option value="yard">Yard</option>
        <option value="mile">Mile</option>
        </select>
</div>
      <button type="submit" class="submit-btn">Convert</button>
    </form>
      
{% endblock %}